<% cssname = "card-normal" %>
<% if cardinfo.days_total_delay >= Setting.plugin_redmine_manage_summary['threshold_progress_very_bad'].to_f %>
  <% cssname = "card-very-bad" %>
<% elsif cardinfo.days_total_delay >= Setting.plugin_redmine_manage_summary['threshold_progress_bad'].to_f %>
  <% cssname = "card-bad" %>
<% elsif cardinfo.days_total_early >= Setting.plugin_redmine_manage_summary['threshold_progress_good'].to_f %>
  <% cssname = "card-good" %>
<% end %>
<span class="card <%= cssname%>">
    <div class="card-head-<%= cardinfo.type%>">
      <% if cardinfo.link.nil? %>
        <%= cardinfo.title %>
      <% else %>
        <%= link_to cardinfo.title, cardinfo.link %>
      <% end %>
    </div>
    <div class="card-progress">
      <%= progress_bar([cardinfo.percent_progress, cardinfo.percent_progress], :width => '100%') %>
    </div>
    <div class="card-detail">
      <%= l(:managesummary_card_cap_issue) %>&nbsp;<%= cardinfo.count_closed_issue %>&nbsp;/&nbsp;<%= cardinfo.count_total_issue %>&nbsp;(<%= cardinfo.percent_progress %>)&percnt;
      <br />

      <% if cardinfo.days_total_delay > 0.0 %>
        <%= l(:managesummary_card_msg_days_total_delay, :days => cardinfo.days_total_delay) %>
        <br />
        <%= l(:managesummary_card_msg_days_max_delay, :days => cardinfo.days_max_delay) %>
      <% elsif cardinfo.days_total_early > 0.0 %>
        <%= l(:managesummary_card_msg_days_total_early, :days => cardinfo.days_total_early) %>
        <br />
        <%= l(:managesummary_card_msg_days_max_early, :days => cardinfo.days_max_early) %>
      <% end %>
      <br />

      <% if !cardinfo.comment.nil? %>
        <%= cardinfo.comment %>
      <% end %>
    </div>
</span>
