<% if !@usercollection.nil? %>
<div class="wrapper">
  <table class="list">
    <thead>
      <th class="name-field"> </th>
      <th><%=l(:managesummary_date_undecided)%></th>
      <% beforemonth = '' %>
      <% @daycollection.each do |dayinfo| %>
      <th>
        <% if beforemonth == dayinfo.date.strftime('%m') %>
          <% disp = dayinfo.date.strftime('%d') %>
        <% else %>
          <% disp = dayinfo.date.strftime('%m/%d') %>
        <% end %>
        <%=disp%><br />
        <small><%=dayinfo.dayname%></small>
      </th>
      <% beforemonth = dayinfo.date.strftime('%m') %>
      <% end %>
    </thead>
    <tbody>
      <% @usercollection.each do |userinfo| %>
        <% first = true %>
        <tr>
          <% if !userinfo.time_assignments.nil? && !userinfo.time_entries.nil? %>
            <% timelist = [userinfo.time_assignments, userinfo.time_entries] %>
          <% elsif !userinfo.time_assignments.nil? %>
            <% timelist = [userinfo.time_assignments] %>
          <% elsif !userinfo.time_entries.nil? %>
            <% timelist = [userinfo.time_entries] %>
          <% end %>

          <% timelist.each do |timeline| %>
            <% if first == true %>
              <% first = false %>
              <td class="name-field cellnormal" rowspan="<%=timelist.count%>"><%=userinfo.name%></td>
              <td class="cellnormal number-field" rowspan="<%=timelist.count%>"><%=userinfo.date_undecided_hour%></td>
            <% else %>
              </tr><tr>
            <% end %>

            <% timeline.each do |timeinfo| %>
              <% classstring = 'cellnormal number-field' %>
              <% if timeinfo.dayinfo.date == @targetdate %>
                <% classstring += ' targetdate' %>
              <% end %>
              <% if timeinfo.dayinfo.isHoliday %>
                <% classstring += ' holiday' %>
              <% end %>
              <% classstring += " " + timeinfo.getTimeCssStyleName %>
                  
              <td class="<%=classstring%>"><%=timeinfo.hour%></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
